.App {
  text-align: center;
}

.texto {
    font-size: 19px;
    color: pink;
}
.test {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.container{
    display: flex;
    flex-direction: row;
}

div {
    display: auto;
    max-width: 12vw;
    margin: 5px;
    padding: 5px;
  
   
}

.box {
    border: 1px solid black;
    box-shadow: 4px 4px 4px gray;
}

img {
    width: 150px;
    height: 100px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    color: blue;
  }
  to {
    transform: rotate(360deg);
    color: green;
  }
}
